@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap");
/*========================================================
                      Global Style
=========================================================*/
/* utilities style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.overflow-h {
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix {
  clear: both;
}

.one-half {
  width: 50%;
}

.one-third {
  width: 33%;
}

.one-fourth {
  width: 24%;
}

.two-third {
  width: 65%;
}

.ta-center {
  text-align: center;
}

.ta-left {
  text-align: left;
}

.ta-right {
  text-align: right;
}

.br {
  border: 1px solid red;
}

.bblue {
  border: 1px solid blue;
}

.bblck {
  border: 1px solid black;
}

.d-inline {
  display: inline;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.d-grid {
  display: grid;
}

.d-flex {
  display: flex;
}

.pos-relative {
  position: relative;
}

.pos-absolute {
  position: absolute;
}

.pos-topleft {
  position: absolute;
  left: 0;
  top: 0;
}

.pos-topright {
  position: absolute;
  right: 0;
  top: 0;
}

.pos-bottomleft {
  position: absolute;
  left: 0;
  bottom: 0;
}

.pos-bottomright {
  position: absolute;
  right: 0;
  bottom: 0;
}

.pos-middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.pos-left {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.pos-right {
  position: absolute;
  top: 50%;
  right: 0%;
  transform: translate(0%, -50%);
  -ms-transform: translate(0%, -50%);
}

.pos-topmiddle {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

.pos-bottommiddle {
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
}

:root {
  --color:#6c5ce7;
}

* {
  font-family: "Poppins", sans-serif;
  transition: all 0.2s linear;
  text-transform: capitalize;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}

/* heading border start */
.heading {
  margin: 2rem;
  padding-top: 6rem;
  display: inline-block;
  font-size: 3.5rem;
  color: var(--color);
  position: relative;
  letter-spacing: 0.2rem;
}

.heading::before, .heading::after {
  content: "";
  position: absolute;
  height: 2.5rem;
  width: 2.5rem;
  border-top: 0.4rem solid var(--color);
  border-left: 0.4rem solid var(--color);
}

.heading::before {
  top: 5.8rem;
  left: -2rem;
}

.heading::after {
  bottom: -0.5rem;
  right: -2rem;
  transform: rotate(180deg);
}

/* button style */
.btn {
  outline: none;
  border: none;
  border-radius: 5rem;
  background: var(--color);
  color: #fff;
  cursor: pointer;
  height: 3.5rem;
  width: 15rem;
  font-size: 1.7rem;
  box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.btn:hover {
  letter-spacing: 0.1rem;
  opacity: 0.8;
}

/* heading border end */
/*========================================================
                      Header Section
=========================================================*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
header .logo {
  font-size: 2.5rem;
  color: #fff;
}
header .logo i {
  padding: 0 0.5rem;
}
header .fa-bars {
  color: #fff;
  cursor: pointer;
  font-size: 3rem;
  display: none;
}
header nav ul {
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul li {
  margin: 0 1.5rem;
}
header nav ul li a {
  font-size: 2rem;
  color: #fff;
}
header nav ul li a:hover {
  color: #ccc;
}

/*=====================Header Media Query========================*/
@media (max-width: 768px) {
  html {
    font-size: 50%;
  }
  header .fa-bars {
    display: block;
  }
  header .fa-times {
    transform: rotate(180deg);
  }
  header .nav-toggle {
    top: 5.8rem !important;
  }
  header .navbar {
    position: fixed;
    top: -120%;
    left: 0%;
    height: auto;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.3);
  }
  header .navbar ul {
    height: 100%;
    width: 100%;
    flex-flow: column;
  }
  header .navbar ul li {
    margin: 1rem 0;
  }
  header .navbar ul li a {
    color: #444;
    font-size: 2.4rem;
  }
}
/*========================================================
                      home section
=========================================================*/
.home__section {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(purple, var(--color));
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  text-align: center;
  padding: 0 1rem;
  position: relative;
  overflow: hidden !important;
  /* wave animation  */
  /* Cog Animation Rotation */
}
.home__section .banner {
  color: #fff;
  font-size: 5rem;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
.home__section .slogan {
  color: #eee;
  font-size: 2.5rem;
  font-weight: 400;
}
.home__section button {
  height: 4rem;
  width: 18rem;
  background: #fff;
  color: #444;
  cursor: pointer;
  border: none;
  outline: none;
  margin-top: 1rem;
  font-size: 2rem;
  font-weight: 400;
  box-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}
.home__section button:hover {
  letter-spacing: 0.1rem;
}
.home__section .wave {
  position: absolute;
  bottom: -0.5rem;
  left: 0%;
  height: 11rem;
  width: 100%;
  background: url("photos/wave.png");
  background-size: 100rem 11rem;
  background-repeat: repeat-x;
  -webkit-animation: waves 10s linear infinite;
          animation: waves 10s linear infinite;
}
.home__section .wave2 {
  animation-direction: reverse;
  opacity: 0.7;
}
.home__section .wave3 {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  opacity: 0.4;
}
@-webkit-keyframes waves {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100rem;
  }
}
@keyframes waves {
  0% {
    background-position-x: 0;
  }
  100% {
    background-position-x: 100rem;
  }
}
.home__section .fa-cog {
  position: absolute;
  font-size: 30rem;
  opacity: 0.15;
  color: #fff;
}
.home__section .nut1 {
  top: 10%;
  left: -15rem;
  -webkit-animation: cogrotation-left 15s linear infinite;
          animation: cogrotation-left 15s linear infinite;
}
.home__section .nut2 {
  bottom: 23%;
  right: -13rem;
  -webkit-animation: cogrotation-right 15s linear infinite;
          animation: cogrotation-right 15s linear infinite;
}
@-webkit-keyframes cogrotation-left {
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes cogrotation-left {
  100% {
    transform: rotate(-360deg);
  }
}
@-webkit-keyframes cogrotation-right {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes cogrotation-right {
  100% {
    transform: rotate(360deg);
  }
}

/*========================================================
                      About section
=========================================================*/
.about__section {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  position: relative;
  overflow: hidden;
}
.about__section .row {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 4rem;
}
.about__section .row .content {
  text-align: left;
}
.about__section .row .content h3 {
  font-size: 3rem;
  color: var(--color);
}
.about__section .row .content p {
  font-size: 1.5rem;
  color: #333;
  padding: 1rem 0;
}
.about__section .image img {
  width: 50vw;
}

.about__section::before, .about__section::after {
  content: "";
  position: absolute;
  z-index: -1;
  opacity: 0.2;
  border-radius: 50%;
}

.about__section::before {
  height: 50rem;
  width: 50rem;
  background: #ccc;
  bottom: -10rem;
  left: -10rem;
}

.about__section::after {
  height: 60rem;
  width: 60rem;
  background: var(--color);
  top: -10rem;
  right: -10rem;
}

/* About Section Media Query */
@media (max-width: 768px) {
  .about__section .row {
    flex-flow: column-reverse;
    padding: 0 2rem;
  }
  .about__section .row .image img {
    width: 100vw !important;
  }
}
/*========================================================
                      Services section
=========================================================*/
.services__section {
  width: 100vw;
  text-align: center;
}
.services__section .row {
  margin: 2rem 0;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services__section .row .image img {
  width: 50vw;
  height: 55vh;
}
.services__section .row .content {
  text-align: left;
  padding: 0 3rem;
}
.services__section .row .content h3 {
  font-size: 3rem;
  color: var(--color);
}
.services__section .row .content p {
  font-size: 1.5rem;
  color: #333;
  padding: 1rem 0;
}

/* Services Section Media Query */
@media (max-width: 768px) {
  .services__section .row {
    flex-flow: column-reverse;
  }
  .services__section .row .image img {
    width: 100vw;
  }
  .services__section .row .content {
    padding: 0;
  }
  .services__section .row:nth-child(even) {
    flex-flow: column;
  }
}
/*========================================================
                      Our Team section
=========================================================*/
.team__section {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  background: #222;
}
.team__section .heading {
  color: #fff;
}
.team__section .heading::before, .team__section .heading::after {
  border-color: #fff;
}
.team__section .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.team__section .row .card {
  height: 35rem;
  width: 25rem;
  background: #fff;
  text-align: center;
  margin: 7rem 2rem;
  position: relative;
  overflow: hidden;
  -webkit-box-reflect: below 0.2rem linear-gradient(transparent 70%, rgba(0, 0, 0, 0.2666666667));
}
.team__section .row .card .image {
  margin: 1rem 0;
  padding-top: 4rem;
}
.team__section .row .card .image img {
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  -o-object-fit: cover;
     object-fit: cover;
}
.team__section .row .card .info h3 {
  font-size: 2rem;
  color: #333;
}
.team__section .row .card .info span {
  font-size: 1.8rem;
  color: var(--color);
}
.team__section .row .card .info .icons a {
  margin-top: 4rem;
  padding: 0 1rem;
  font-size: 2rem;
  color: #333;
}
.team__section .row .card .info .icons a:hover {
  color: var(--color);
}
.team__section .row .card::before, .team__section .row .card::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  height: 15rem;
  width: 15rem;
  z-index: -1;
}
.team__section .row .card::before {
  background: var(--color);
  top: -3rem;
  right: -4rem;
}
.team__section .row .card::after {
  background: #ccc;
  bottom: -3rem;
  left: -4rem;
}

/*========================================================
                    Contact section
=========================================================*/
.contact__section {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
}
.contact__section .row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__section .row .image img {
  height: 70vh;
  width: 50vw;
}
.contact__section .row .form-container {
  width: 50%;
  text-align: left;
  padding: 0 5rem;
}
.contact__section .row .form-container form input, .contact__section .row .form-container form textarea {
  outline: none;
  border: none;
  height: 4rem;
  background: none;
  border-radius: 0.5rem;
  box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.2);
  padding: 0 1rem;
  margin: 1rem 0;
  font-size: 1.6rem;
}
.contact__section .row .form-container form .inputBox {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.contact__section .row .form-container form .inputBox input[type=text] {
  width: 49%;
}
.contact__section .row .form-container form input[type=email] {
  width: 100%;
}
.contact__section .row .form-container form textarea {
  width: 100%;
  height: 20rem;
  padding: 1rem;
  resize: none;
}
.contact__section .row .form-container form input[type=submit] {
  background: var(--color);
  color: #fff;
  cursor: pointer;
  height: 4rem;
  width: 10rem;
}
.contact__section .row .form-container form input[type=submit]:hover {
  opacity: 0.8;
}

/* Contact Section Media Query */
@media (max-width: 768px) {
  .contact__section .row {
    flex-flow: column;
  }
  .contact__section .row .image img {
    width: 100vw;
  }
  .contact__section .row .form-container {
    width: 100%;
    padding: 0 1.5rem;
  }
}
/*========================================================
                    FAQ section
=========================================================*/
.faq__section {
  min-height: 100vh;
  width: 100vw;
  text-align: center;
  padding: 0 2rem;
}
.faq__section .row {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 2rem;
}
.faq__section .row .image img {
  height: 70vh;
  width: 50vw;
}
.faq__section .row .accordion-container {
  width: 50%;
  text-align: left;
}
.faq__section .row .accordion-container .accordion .accordion-header {
  background: var(--color);
  margin: 1rem 0;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.faq__section .row .accordion-container .accordion .accordion-header span {
  display: inline-block;
  text-align: center;
  height: 4rem;
  width: 5rem;
  line-height: 4rem;
  font-size: 2rem;
  background: #fff;
  color: #333;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.faq__section .row .accordion-container .accordion .accordion-header h3 {
  display: inline;
  color: #fff;
  font-weight: 400;
  padding-left: 0.5rem;
  font-size: 1.5rem;
}
.faq__section .row .accordion-container .accordion .accordion-body {
  padding: 1rem;
  color: #444;
  box-shadow: 0.1rem 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  font-size: 1.3rem;
  display: none;
}
.faq__section .row .accordion-container .accordion:nth-child(1) .accordion-body {
  display: block;
}

/* FAQ Section Media Query */
@media (max-width: 768px) {
  .faq__section {
    padding: 0;
  }
  .faq__section .row {
    padding: 0 1rem;
    flex-flow: column;
  }
  .faq__section .row .image img {
    width: 100vw;
  }
  .faq__section .row .accordion-container {
    width: 100%;
  }
}
/*========================================================
                    Footer section
=========================================================*/
footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  margin-top: 1rem;
  background: var(--color);
}
footer h1 {
  color: #fff;
  letter-spacing: 0.1rem;
  font-weight: 400;
}
footer .icons a {
  color: #fff;
  font-size: 1.8rem;
  padding: 0 1rem;
}/*# sourceMappingURL=style.css.map */